.inputuchun {
padding: 10px 20px;

}
.buton {
padding: 15px 50px;
border: none;
background-color: #a6e7ff;
color: white;
}
.elebele {
color: blue;

}
.divuchun {
    text-align: center;
}
.divuchunn{
    text-align: center;
}